:root {
  --primare-font-family: "Roboto", sans-serif;
  --second-font-family: "Raleway", sans-serif;
  --primare-text-color-theme-dark: #212121;
  --secondary-text-color-theme-dark: #757575;
  --primare-text-color-theme-light: #ffffff;
  --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
  --accent-color: #2196F3;
  --part-logo-color: #000000;
  --first-decoration-backgraund: #2F303A;
  --second-decoration-backgroend: #F5F4FA;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primare-font-family);
  color: var(--primare-text-color-theme-dark);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 580px;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: var(--primare-text-color-theme-light);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.moda-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.modal-close-btn__icon {
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}
.moda-close-btn:hover .modal-close-btn__icon, .moda-close-btn:focus .modal-close-btn__icon {
  fill: #2196F3;
}

.social-subscribe__input {
  width: 358px;
  height: 50px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
  color: #ffffff;
  -webkit-transition: border 250ms var(--cubic);
  transition: border 250ms var(--cubic);
}
.social-subscribe__input:focus {
  outline: none;
  border: 1px solid rgb(33, 150, 243);
}
.social-subscribe .social-subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
}
.social-subscribe .social-subscribe__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
}
.social-subscribe .social-subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
}
.social-subscribe .social-subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
}
.social-subscribe .social-subscribe__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 28px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--accent-color);
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic);
  transition: -webkit-box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}
.subscribe__btn::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 11px;
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
}

.modal__subscription {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #212121;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
}

.contact-form__label {
  margin: 0;
  margin-bottom: 10px;
}

.contact-form__field {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.12px;
  color: #757575;
}

.contact-form__input-wrapper {
  position: relative;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms var(--cubic);
  transition: border 250ms var(--cubic);
  cursor: pointer;
}
.contact-form__input:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.contact-form__input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}
.contact-form__input:focus + .contact-form__input-icon {
  fill: #2196F3;
}

.contact-form__label-message {
  margin: 0;
  margin-bottom: 20px;
}

.contact-form__message {
  width: 100%;
  height: 120px;
  padding: 16px 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  -webkit-transition: border 250ms var(--cubic);
  transition: border 250ms var(--cubic);
}
.contact-form__message::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__message::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__message:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__message::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__message::placeholder {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__message:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.contact-form__checkbox-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.contact-form__checkbox {
  position: absolute;
  margin-left: 8px;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}
.contact-form__checkbox-field:focus + .contact-form__checkbox {
  fill: #2196F3;
}

.contact-form__checkbox_hidden {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
}
.contact-form__checkbox-field:checked ~ .contact-form__checkbox_hidden {
  opacity: 1;
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
}

.contact-form__policy {
  margin-left: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.42px;
  color: #757575;
}

.checkbox-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.contact-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic);
  transition: -webkit-box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}
.contact-form__btn:hover, .contact-form__btn:focus {
  outline: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.position {
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--primare-text-color-theme-light);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ECECEC;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo {
  margin-right: 94px;
}

.header__part-logo {
  color: var(--part-logo-color);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--primare-text-color-theme-dark);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact-list__item:not(:last-child) {
  margin-right: 40px;
}

.contact-list__mail,
.contact-list__number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.contact-list__mail:hover, .contact-list__mail:focus,
.contact-list__number:hover,
.contact-list__number:focus {
  color: var(--accent-color);
}

.contact-list__icon-mail {
  width: 16px;
  height: 12px;
  fill: var(--secondary-text-color-theme-dark);
  margin-right: 10px;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}
.contact-list__mail:hover .contact-list__icon-mail, .contact-list__mail:focus .contact-list__icon-mail {
  fill: var(--accent-color);
}

.contact-list__icon-number {
  width: 10px;
  height: 16px;
  fill: var(--secondary-text-color-theme-dark);
  margin-right: 10px;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}
.contact-list__number:hover .contact-list__icon-number, .contact-list__number:focus .contact-list__icon-number {
  fill: var(--accent-color);
}

.nav-list__link_active {
  position: relative;
  color: var(--accent-color);
}
.nav-list__link_active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--first-decoration-backgraund);
}

.hero-title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primare-text-color-theme-light);
  margin-bottom: 40px;
}

.hero__button {
  min-width: 216px;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--primare-text-color-theme-light);
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
  cursor: pointer;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--accent-color);
}

.hero__button_active {
  background-color: var(--accent-color);
  color: var(--primare-text-color-theme-light);
}

.advantages {
  padding-top: 94px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.advantages-list__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  margin-left: 30px;
}
.advantages-list__item::before {
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  content: "";
}

.advantages-list__icon-antena::before {
  content: "";
  background-image: url(../images/antena.svg);
}

.advantages-list__icon-clock::before {
  content: "";
  background-image: url(../images/clock\ 1.svg);
}

.advantages-list__icon-vector::before {
  content: "";
  background-image: url(../images/vector.svg);
}

.advantages-list__icon-astronaut::before {
  content: "";
  background-image: url(../images/astronaut\ 1.svg);
}

.advantages-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-list__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

.main {
  padding-bottom: 94px;
}

.main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.main-list__item {
  position: relative;
  width: 370px;
  margin-left: 30px;
}

.main-list__application {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primare-text-color-theme-light);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.employees {
  background-color: var(--second-decoration-backgroend);
}

.employees-title {
  background-color: var(--second-decoration-backgroend);
}

.employees-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.employees-list__card {
  margin-left: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employees-wrapper {
  padding: 32px 30px;
  background-color: #ffffff;
}

.employees-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primare-text-color-theme-dark);
  margin-bottom: 10px;
}

.employees__size {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 16px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border 250ms var(--cubic);
  transition: border 250ms var(--cubic);
}
.client-list__link:hover, .client-list__link:focus {
  border: 1px solid var(--accent-color);
}

.client-list__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}
.client-list__link:hover .client-list__icon, .client-list__link:focus .client-list__icon {
  fill: var(--accent-color);
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--first-decoration-backgraund);
}

.logo__part-second {
  color: var(--primare-text-color-theme-light);
}

.contact-info {
  margin-top: 28px;
  margin-right: 70px;
}

.contact-info__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primare-text-color-theme-light);
}

.info-list__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.info-list__mail:hover, .info-list__mail:focus {
  color: var(--primare-text-color-theme-light);
}

.info-list:not(:last-child) {
  margin-bottom: 12px;
}

.info-list__number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.info-list__number:hover, .info-list__number:focus {
  color: var(--primare-text-color-theme-light);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primare-text-color-theme-light);
  margin-bottom: 20px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
}
.social-list__link-join:hover, .social-list__link-join:focus {
  background-color: var(--accent-color);
}

.social-list__icon-join {
  fill: #ffffff;
}

.project-filtr__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primare-text-color-theme-dark);
  background-color: var(--second-decoration-backgroend);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms var(--cubic), color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}
.project-filtr__btn:hover, .project-filtr__btn:focus {
  background-color: var(--accent-color);
  color: var(--primare-text-color-theme-light);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-filtr__btn_active {
  background-color: var(--accent-color);
  color: var(--primare-text-color-theme-light);
}

.project-filtr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-filtr__item:not(:last-child) {
  margin-right: 8px;
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.project-list__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-list__item:nth-child(3n) {
  margin-right: 0;
}
.project-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project-list__link {
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic);
  transition: -webkit-box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}
.project-list__link:hover, .project-list__link:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-wrapper {
  position: relative;
  overflow: hidden;
}

.project-wrapper-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
  transition: opacity 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), opacity 250ms var(--cubic);
  transition: transform 250ms var(--cubic), opacity 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}
.project-list__link:hover .project-wrapper-modal {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.project-list__modal {
  position: absolute;
  min-width: 322px;
  min-height: 168px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primare-text-color-theme-light);
}

.project-items {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.project-list__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primare-text-color-theme-dark);
  margin-bottom: 4px;
}

.project-list__department {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}/*# sourceMappingURL=main.css.map */