.header-container {
    display: flex;
    align-items: center;
}

.header {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ECECEC;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header__logo {
    margin-right: 94px;
}

.header__part-logo {
    color: var(--part-logo-color);
}

.nav-list {
    display: flex;
}

.nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--primare-text-color-theme-dark);
    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav-list__item:not(:last-child) {
    margin-right: 50px;
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-list__item:not(:last-child) {
    margin-right: 40px;
}

.contact-list__mail,
.contact-list__number {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-dark);
    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact-list__icon-mail {
    width: 16px;
    height: 12px;
    fill: var(--secondary-text-color-theme-dark);
    margin-right: 10px;
    transition: fill 250ms var(--cubic);

    .contact-list__mail:hover &,
    .contact-list__mail:focus & {
       fill: var(--accent-color);
    }
}

.contact-list__icon-number {
    width: 10px;
    height: 16px;
    fill: var(--secondary-text-color-theme-dark);
    margin-right: 10px;
    transition: fill 250ms var(--cubic);

    .contact-list__number:hover &,
    .contact-list__number:focus & {
        fill: var(--accent-color);
    }
}

.nav-list__link_active {
    position: relative;
    color: var(--accent-color);

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
        border-radius: 2px;
        background-color: var(--accent-color);
    }
}

